certifi==2023.11.17
chardet==5.2.0
idna==3.6
numpy==1.24.4
pandas==2.0.3
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
urllib3==1.26.18
email-validator==2.1.1
paho-mqtt==2.0.0
